extends index.pug

block content
  p

 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quis ad sint asperiores hic voluptate, assumenda eos consequuntur, quibusdam, commodi totam. A sunt ducimus delectus, eligendi provident enim cupiditate. Ut.
  p
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam beatae atque quos hic cumque quisquam quasi, qui quia eligendi, iusto quidem accusantium, aliquid temporibus magni repellendus, minus quod? Rem, minus.